


.color-mates{
    background-color: blue;
    width: 50px;
}
.caste{
    background-color: chartreuse;
    width: 50px;
}
.valen{
    background-color: blueviolet;
    width: 50px;
}
.ingles{
    background-color: cyan;
    width: 50px;
}
.edf{
    background-color: khaki;
    width: 50px;
}
.tecno{
    background-color: darkcyan;
    width: 50px;
}
.info{
    background-color: darkgoldenrod;
    width: 50px;

}
.bio{
    background-color: darkgreen;
    width: 50px;
}
.fis{
    background-color: darkslateblue;
    width: 50px;

}
.geo{
    background-color: crimson;
    width: 50px;
}
.valors{
    background-color: lime;
    width: 50px;

}
.patio{
    background-color: gray;
    width: 50px;
}
#mates{
    background-color: white;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: blue;
    text-align: center;
}
#ingles{
    background-color: cyan;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#info{
    background-color: darkgoldenrod;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
#caste{
    background-color: chartreuse;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
#geo{
    color: crimson;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
#bio{
    background-color: darkgreen;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: yellow;
}
#tecno{
    background-color: darkcyan;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
#valors{
    background-color: lime;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
#fis{
    background-color: darkslateblue;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
#edf{
    background-color: khaki;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
#valen{
    background-color: blueviolet;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: deepskyblue;
}
#patio{
    background-color: gray;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}
#tutoria{
    background-color: darkcyan;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;

}
#dias{
    color: white;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    text-align: center;
}
#horas{
    background-color: tomato;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
#horario{
    background-color: yellow;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.tabla-horario{
    /* Me sirve para indicar que los bordes de las celdas no deben estar separados */
    border-collapse: collapse;
}

.tabla-horario td, .tabla-horario th{
    /* Especifico el borde de las celdas, para la tabla con clase "tabla-horario" */
    border: 1px solid black;
}